<!DOCTYPE html>
<html>
<head>
    <title>WEB700</title>
    <meta charset="UTF-8" />
    <link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.3.1/css/bootstrap.min.css" integrity="sha384-ggOyR0iXCbMQv3Xipma34MD+dH/1fQ784/j6cY/iJTQUOhcWr7x9JvoRxT2MZw1T" crossorigin="anonymous">
    <!-- Link to your custom theme CSS -->
    <link rel="stylesheet" href="/css/theme.css">
</head>

<body>
    <nav class="navbar navbar-expand-lg navbar-light bg-light">
        <a class="navbar-brand" href="#">Imantha Udana</a>
        <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbarSupportedContent" aria-controls="navbarSupportedContent" aria-expanded="false" aria-label="Toggle navigation">
            <span class="navbar-toggler-icon"></span>
        </button>
        
        <div class="collapse navbar-collapse" id="navbarSupportedContent">
            <ul class="navbar-nav mr-auto">
                <li class="nav-item"><a class="nav-link" href="/">Home</a></li>
                <li class="nav-item"><a class="nav-link" href="/about">About</a></li>
                <li class="nav-item active"><a class="nav-link" href="/htmlDemo">Html Demo</a></li>
            </ul>
            <ul class="navbar-nav ml-auto">
                <li class="nav-item"><a class="nav-link" href="/students">Students</a></li>
                <li class="nav-item"><a class="nav-link" href="/tas">Teaching Assistants</a></li>
                <li class="nav-item"><a class="nav-link" href="/courses">Courses</a></li>
                <li class="nav-item"><a class="nav-link" href="/students/add">Add Student</a></li>
            </ul>
        </div>
    </nav>

    <div class="container">
        <div class="row">
            <main class="col-md-12">

                
                <!-- Tables Section -->
                <h2>Tables</h2>
                <table class="table">
                    <caption>Popular Car Models in Canada</caption>
                    <thead>
                        <tr>
                            <th>Make</th>
                            <th>Model</th>
                            <th>Year</th>
                        </tr>
                    </thead>
                    <tbody>
                        <tr>
                            <td>Toyota</td>
                            <td>Corolla</td>
                            <td>2020</td>
                        </tr>
                        <tr>
                            <td>Honda</td>
                            <td>Civic</td>
                            <td>2021</td>
                        </tr>
                        <tr>
                            <td>Mazda</td>
                            <td>Mazda 3</td>
                            <td>2019</td>
                        </tr>
                    </tbody>
                    <tfoot>
                        <tr>
                            <td>Ford</td>
                            <td>F-150</td>
                            <td>2021</td>
                        </tr>
                    </tfoot>
                </table>

                <table class="table">
                    <caption>Electric Cars in Canada</caption>
                    <thead>
                        <tr>
                            <th>Make</th>
                            <th>Model</th>
                            <th>Range (km)</th>
                        </tr>
                    </thead>
                    <tbody>
                        <tr>
                            <td>Tesla</td>
                            <td>Model 3</td>
                            <td>500</td>
                        </tr>
                        <tr>
                            <td>Chevrolet</td>
                            <td>Bolt EV</td>
                            <td>417</td>
                        </tr>
                        <tr>
                            <td>Nissan</td>
                            <td>Leaf</td>
                            <td>364</td>
                        </tr>
                    </tbody>
                    <tfoot>
                        <tr>
                            <td>Kia</td>
                            <td>Soul EV</td>
                            <td>383</td>
                        </tr>
                    </tfoot>
                </table>
                <p>NOTE : This section demonstrates the usage of HTML tables with various elements such as caption, thead, tbody, tfoot, th, td, tr, and properties like rowspan and colspan.</p>

                <!-- Lists Section -->
                <h2>Lists</h2>
                <ol>
                    <li>Sedans
                        <ul>
                            <li>Toyota Camry</li>
                            <li>Honda Accord</li>
                            <li>Nissan Altima</li>
                        </ul>
                    </li>
                    <li>SUVs</li>
                    <li>Trucks</li>
                    <li>Electric Cars</li>
                    <li>Luxury Cars</li>
                </ol>
                <p>NOTE : This section demonstrates the usage of ordered and unordered lists, including nested lists of different types.</p>

                <!-- Images Section -->
                <h2>Images</h2>
                <img src="https://upload.wikimedia.org/wikipedia/commons/6/69/Snowboarder_in_halfpipe.jpg" alt="Snowboarder in halfpipe" class="img-fluid">
                <img src="https://upload.wikimedia.org/wikipedia/commons/a/a3/June_odd-eyed-cat.jpg" alt="Odd-eyed Cat" class="img-fluid">
                <img src="https://upload.wikimedia.org/wikipedia/commons/3/3a/Cat03.jpg" alt="Cat" class="img-fluid">
                <p>NOTE : This section demonstrates the usage of images with alternative text (alt text), which is important for accessibility purposes. The images are displayed using the <code>img</code> element with the <code>src</code> attribute pointing to their respective URLs.</p>

                <!-- Audio Section -->
                <h2>Audio</h2>
                <audio controls>
                    <source src="https://pat-crawford-sdds.netlify.app/shared/fall-2021/web700/A3/sample-audio.mp3" type="audio/mpeg">
                    <source src="https://pat-crawford-sdds.netlify.app/shared/fall-2021/web700/A3/sample-audio.ogg" type="audio/ogg">
                    Your browser does not support the audio element.
                </audio>
                <p>NOTE : This section demonstrates the usage of HTML5 audio element with sources provided.</p>

                <!-- Video Section -->
                <h2>Video</h2>
                <video controls>
                    <source src="https://pat-crawford-sdds.netlify.app/shared/fall-2021/web700/A3/sample-video.mp4" type="video/mp4">
                    <source src="https://pat-crawford-sdds.netlify.app/shared/fall-2021/web700/A3/sample-video.ogg" type="video/ogg">
                    <source src="https://pat-crawford-sdds.netlify.app/shared/fall-2021/web700/A3/sample-video.webm" type="video/webm">
                    Your browser does not support the video element.
                </video>
                <p>NOTE : This section demonstrates the usage of HTML5 video element with sources provided.</p>

            </main>
        </div>
    </div>

    <script src="https://code.jquery.com/jquery-3.3.1.slim.min.js" integrity="sha384-q8i/X+965DzO0rT7abK41JStQIAqVgRVzpbzo5smXKp4YfRvH+8abtTE1Pi6jizo" crossorigin="anonymous"></script>
    <script src="https://cdnjs.cloudflare.com/ajax/libs/popper.js/1.14.7/umd/popper.min.js" integrity="sha384-UO2eT0CpHqdSJQ6hJty5KVphtPhzWj9WO1clHTMGa3JDZwrnQq4sF86dIHNDz0W1" crossorigin="anonymous"></script>
    <script src="https://stackpath.bootstrapcdn.com/bootstrap/4.3.1/js/bootstrap.min.js" integrity="sha384-JjSmVgyd0p3pXB1rRibZUAYoIIy6OrQ6VrjIEaFf/nJGzIxFDsf4x0xIM+B07jRM" crossorigin="anonymous"></script>
</body>
</html>
